| $('#formAddCompanyModal').html("#{escape_javascript(render partial: 'companies/modal_add_company')}");
| $('#companiesTable').html("#{escape_javascript(render partial: 'companies/table_companies')}");
| $('#companyModal').modal('hide');
| $('.modal-backdrop').hide();
